  <%# show page links to the artist's songs by title  %>
  <%# lists all of the artist's songs ) %>

  <h1><%= @artist.name %></h1>

  <ul>
    <% @artist.songs.each do |song| %>
        <li> 
            <%= link_to song.title, song_path(song) %>
        </li>
    <% end %>

  </ul>